@model IEnumerable<FlightTicketReservation.Models.RouteDetail>

@{
    ViewData["Title"] = "getallRoutes";
}

<h1>All Routes :-)</h1>

<p>
    <a asp-action="routeCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Routeid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flightid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routedesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Routeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flightid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Routedesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "routeEdit", new { id=item.Routeid }) |
                @Html.ActionLink("Details", "routeDet", new {id=item.Routeid }) |
                @Html.ActionLink("Delete", "routeDelete", new { id=item.Routeid })
            </td>
        </tr>
}
    </tbody>
</table>
